<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>
  <img class="bg-img" src="../../assets/GoTeam Imagens/Home-bg.png">

  <div class="home-text">
    <div class="home-text-line-1">Bem-vindo(a),</div>
    <div class="home-text-line-2">Behïnd you</div>
    <div class="home-text-line-3">@BehindYou</div>
  </div>

  <img class="profile-img" src="../../assets/GoTeam Imagens/shaco.jpg">

  <div class="eventos-em-destaque">Eventos em destaque:</div>

  <app-card-evento-destaque></app-card-evento-destaque>

  <div class="feed-noticias">Feed de notícias:</div>
  <br><br><br><br><br>
  <app-card-post></app-card-post>
</ion-content>

<app-tab-menu></app-tab-menu>
