<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>
  <img class="bg-img" src="../../assets/GoTeam Imagens/Home-bg.png">

  <div class="home-text">
    <div class="home-text-line-1">Bem-vindo(a),</div>
    <div class="home-text-line-2">{{user.name}}</div>
    <div class="home-text-line-3">@{{user.name}}</div>
  </div>

  <a routerLink='/profile'><img class="profile-img" src="../../assets/GoTeam Imagens/shaco.jpg"></a>

  <div class="eventos-em-destaque">Eventos em destaque:</div>

  <div class="card-evento-destaque">
    <app-card-evento-destaque></app-card-evento-destaque>
  </div>

  <div class="feed-noticias">Feed de notícias:</div>
  <br><br><br><br><br>
  <app-card-post></app-card-post>
</ion-content>

<app-tab-menu></app-tab-menu>
