<div *ngIf='estaLogado'>
  <div class="posts">
    <ion-card class="post-feed">
      <img class="post-profile-img" src="../../assets/GoTeam Imagens/darius.jpg">
      
      <ion-card-title class="post-user-name">Sem nome</ion-card-title>
      <ion-card-subtitle class="post-time">Postado há 20 min</ion-card-subtitle>
    
      
      <!-- <ion-icon class="delete-post-button" name='trash-outline'></ion-icon> -->
    
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="post-text-field">
              <ion-card-subtitle class="post-text">{{post.bodyText}}</ion-card-subtitle>
            </ion-card>
          </ion-col>
    
          <ion-col>
            <ion-icon class="edit-post-button" name='create-outline'></ion-icon>
            <ion-icon class="delete-post-button" name='trash-outline' (click)='deletePost(post.id)'></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-grid>
        <ion-row class="row">
          <ion-col>
            <div class="like">
              <ion-icon class="button-like" name='heart-outline' ></ion-icon>
              <div class="num-like">912</div>
            </div>
          </ion-col>
    
          <ion-col>
            <div class="comment">
              <a routerLink='/comentarios'>
                <ion-icon class="button-comment" name='chatbox-outline'></ion-icon>
                <div class="num-comment">700</div>
              </a>
            </div>
          </ion-col>
    
          <ion-col>
            <div class="share">
              <ion-icon class="button-share" name='repeat-outline'></ion-icon>
              <div class="num-share">840</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</div>