<ion-card class="post-feed" *ngFor='let post of posts'>
  <img class="post-profile-img" src="{{post.profileImg}}">
  
  <ion-card-title class="post-user-name">{{post.user}}</ion-card-title>
  <ion-card-subtitle class="post-time">Postado há {{post.postTime}} min</ion-card-subtitle>
  

  <ion-card class="post-text-field">
    <ion-card-subtitle class="post-text">{{post.text}}</ion-card-subtitle>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div [ngSwitch]='post.isLike'>
          <div *ngSwitchCase='false'>
            <ion-icon class="button-like" name='heart-outline' (click)="likeDislike(post.id)"></ion-icon>
          </div>

          <div *ngSwitchCase='true'>
            <ion-icon class="button-like" name='heart' (click)="likeDislike(post.id)"></ion-icon>
          </div>
        </div>
        <div class="num-like">912</div>
      </ion-col>

      <ion-col>
        <a routerLink='/comentarios'>
          <ion-icon class="button-comment" name='chatbox-outline'></ion-icon>
          <div class="num-comment">700</div>
        </a>
      </ion-col>

      <ion-col>
        <ion-icon class="button-share" name='repeat-outline'></ion-icon>
        <div class="num-share">840</div>
      </ion-col>

      <ion-col>
        <ion-icon class="post-setting-button" name="settings-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>