.card-event-1 {
    background-color: rgb(30, 30, 30);
    height: 330px;
}

.card-event-img {
    height: 193px;
    width: 100%;
}

.card-event-1-title {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1vw;
    font-weight: normal;
    margin-top: 1vh;
}

.card-event-1-subtitle-1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    margin-top: 0.5vh;
}

.card-event-1-subtitle-2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
}

.button-like {
    width: 28px;
    height: 28px;
    color: #fdfafa;
    margin-left: -7vw;
    margin-top: 0vh;
}

.num-like {
    margin-top: -3vh;
    margin-left: 10vw;
    color: #fdfafa;
}

.button-comment {
    width: 25px;
    height: 25px;
    margin-top: 0.2vh;
    margin-left: -7vw;
    color: #fdfafa;
}

.num-comment {
    margin-top: -3vh;
    margin-left: 10vw;
    color: #fdfafa;
}

.button-share {
    width: 28px;
    height: 28px;
    margin-left: -11vw;
    margin-top: -0.1vh;
    color: #fdfafa;
}

.num-share {
    margin-top: -3.3vh;
    margin-left: 8vw;
    color: #fdfafa;
}