<ion-grid>
  <ion-row>
    <ion-col><h4 class="userName">Tony Stark</h4></ion-col>
    <ion-col><p class="commentsDate">07/02/2021 às 17:40</p></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2.5"><img class="commentsImg" src="../assets/icon/arc.png"></ion-col>
    <ion-col>
      <ion-card class="commentsCard">
        <p class="commentsText">Joga muito! Obrigado por me carregar :D</p>
      </ion-card>
    </ion-col>
    <ion-col size="1">
      <div>
        <img class="trashIcon" src="../assets/icon/trash.png">
        </div>
      <img class="arrowIcon" src="../assets/icon/arrow.png">
    </ion-col>
  </ion-row>
</ion-grid>