h4{
    color:black;
}



.commentsImg{
    width:105%; 
} 

.commentsIcon{
    margin-top:40px;
}

.commentsCard{
    --background:#00CEA9;
    border-radius:8px;
    margin:0;
    height:60px;
}

.commentsText{
    margin-left:4%;
    margin-top:5%;
    color:black;
}

.userName{
    font-size:1.2em;
    margin-bottom:0;
    margin-left:4%;
}

.commentsDate{
    margin-bottom:0;
    color:black;
    font-size:0.9em;
    margin-top:13%;
}

