

#fab{
    --background:#00CEA9;
}

#pencil{
    color:black;
}

.barIcons{
    color:white;
}

ion-tab-bar{
    --background:black;
    margin-left:22%;
    margin-bottom:3%;
    margin-right:7%;
    border-radius:30px;
    border:2px solid;
    border-color:#00CEA9;
}