
<div class="tab">
  <ion-fab  vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button id="fab">
      <ion-icon id="pencil" name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
    
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon class ="barIcons" name="calendar-clear-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button >
          <ion-icon class ="barIcons" name="game-controller-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button >
          <ion-icon class ="barIcons" name="search-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
      
</div>
