

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

<ion-content>

  <img id="dariusBg" src="../assets/icon/darius.png">

  <ion-grid>
    <ion-row>
      <ion-col class="titleCol">
        <h1 class="loginTitle">GoTeam!</h1>
      </ion-col>
    </ion-row>
  </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col class="instructionCol">
          <h3 class="inputInstruction">Email:</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <form [formGroup]="loginForm" (ngSubmit) = "login(loginForm)">

      <ion-input class="inputTextLogin" placeholder="Email" type="text" formControlName="email"></ion-input>
      
      <ion-grid >
        <ion-row>
          <ion-col class="instructionCol">
            <h3 class="inputInstruction">Senha:</h3>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-input class="inputTextLogin" placeholder="Senha" type="password" formControlName="password"></ion-input>

      <ion-grid>
        <ion-row>
          <ion-col size="5.5" class="forgotPasswordCol">
            <h5 class="forgotPasswordText">Esqueceu a senha?</h5>
          </ion-col>
          <ion-col size="0.1"></ion-col>
          <ion-col  class="visitorCol">
            <h5 routerLink="/home" class="forgotPasswordText">Entrar como visitante</h5>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid" class="loginButton">Login</ion-button>
    </form>

  <ion-grid>
    <ion-row>
      <ion-col class="line1"></ion-col>
      <ion-col size="1.5" class="or">ou</ion-col>
      <ion-col class="line2"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-button  routerLink="/cadastro" expand="block" class="registerButton">Cadastre-se</ion-button>

</ion-content>
