<ion-card class="usersCardBg">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="profileImgCol">
        <img class="profileImg" src="../assets/icon/L.png">
      </ion-col>
      <ion-col class="usernameCol">
        <p class="username">{{user.name}}</p>
        <p class="subUsername">@{{user.name}}</p>
      </ion-col>
      <ion-col size="4" class="followButtonCol" *ngIf='!(user.id===myUser.id)'>
        <ion-button class="followButton" (click)='followUser(user.id)'>Seguir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
