<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        
        <div class="infos">
          <ion-grid>
            <ion-row>
              <ion-col id="menu_shaco">
                <img src="../assets/icon/ShacoLoadScreen_7.jpg">
              </ion-col>
              <ion-col id="titles">
                <h3>Behïnd you</h3>
                <h6>@BehindYou</h6>
              </ion-col>
              
            </ion-row>
            <ion-row>
              <ion-col class ="follow" id="followers">
                <h5>564 seguidores</h5>
              </ion-col>
              <ion-col class="follow" id="following">
                <h5>459 seguindo</h5>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!--dadsaawdg-->
        
        
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
