


h3,h5,h2{
  color:#FDFAFA;
}

h6{
  margin-top:0;
  color:#969696;
}

h3{margin-bottom:1%;}

ion-grid{
  margin-top:10%;
  margin-bottom:0;
}

ion-col{
  height:50%;
}

.visitanteText{
  margin-left:8vw;
  font-size:1.0em;
}

.visitanteText2{
  margin-left:13vw;
  margin-top:0;
}


.follow{
  border-bottom:1px solid #414774;
  padding-bottom:5%;
}

#followers{
  margin-left:4%;
  
}

#following{
  margin-right:4%;

}

#titles{
  margin-top:4%;
  margin-right:10%;
  padding-left:0;
}

#menu_shaco{
  padding-right:0;
}
#menu_shaco img{
  border-radius:20px;
  width:70%;
  margin-left:10%;
  height:100%;
  padding-right:0;

}

.logoutText{
  margin-left:17px;
  height: 10px;
  margin-top:10px;
}

.logInIcon{
  color:#FDFAFA;
  margin-left:35px;
  margin-top:8px;
}

.backToLoginText{
  font-size:0.8em;
  text-align: center;
  margin-top:0;
}