<!-- Essa tag tá vazia pq a pagina de cadastro não tem top-bar -->
<ion-header>
</ion-header>

<ion-content>

  <!-- Essa tag ta selecionando a imagem do background -->
  <img class="img-background" src="{{cadastro[0].bgImg}}">

  <!-- Essa div dá condição para o botão "voltar" -->
  <div [ngSwitch]='cadastro[0].id'>
    <div *ngSwitchCase="1">
      <a href="/login"><ion-icon class="arrow-back" name='arrow-back'></ion-icon></a>
    </div>

    <div *ngSwitchCase="2">
      <a href="/cadastro"><ion-icon class="arrow-back" name='arrow-back'></ion-icon></a>
    </div>
  </div>

  <div class="cadastro-titulo">
    <p>Cadastro</p>
  </div>

  <!-- Essa tag cria o formulário de cadastro -->
  <form class="register-form" [formGroup]='registerForm' (ngSubmit)='registerUser(registerForm)'>
    <ion-list class="register-list" *ngFor='let label of labels'>
      <ion-label class="input-label" position='stacked'>{{label.label}}:</ion-label>
      <ion-input class="inputCadastro" type='{{label.type}}' placeholder='{{label.label}}' formControlName='{{label.formControlName}}'></ion-input>
    </ion-list>

    
    <!-- Essa tag cria condições para o botão na pag cadastro -->
    <div [ngSwitch]='cadastro[0].id'>
      <div *ngSwitchCase='1'>
        <ion-button class="botao-enviar" size='large' color='light' (click)='prosseguirCadastro()'>{{buttonLabel}}</ion-button>
      </div>

      <div *ngSwitchCase='2'>
        <ion-button class="botao-enviar" type='submit' size='large' color='light' (click)='prosseguirCadastro()' [disabled]='registerForm.invalid'>{{buttonLabel}}</ion-button>
      </div>
    </div>

    <br><br>
  </form>
</ion-content>
