ion-content {
    .arrow-back {
        height: 30px;
        width: 40px;

        margin-left: 2vw;
        margin-top: 1.5vh;
    }

    .img-background {
        position: fixed;
        z-index: 0;
    }

    .cadastro-titulo {
        position: absolute;
        color: white;
        z-index: 5;
        font-family: 'Ubuntu', sans-serif;
        font-size: 3em;
        margin-left: 18.5vw;
        margin-top: 13vh;
        letter-spacing: 1.5vw;
        text-shadow: 3.5px 3.5px #000000;
        font-weight: bold;
    }

    form {
        position: absolute;
        --ion-item-background: transparent;
    
        ion-item {
            opacity: 0.75;
        }
    }

    // ######################################### register-form #############################################
    .register-form {
        margin-top: 35vh;
        --ion-item-background: transparent;
        text-shadow: 3.5px 3.5px #000000;
    }

    // ######################################### register-list #############################################
    .register-list{
        margin-top: 0.7vh;
        margin-left: 10vw;

        height: 75px;
        width: 300px;

        border-radius: 15px;

        font-family: 'Ubuntu', sans-serif;
        font-size: 1.2em;

        opacity: 1;
    }

    // ######################################### input-label #############################################
    .input-label{
        font-size: 1.1em;
        font-family: 'Ubuntu', sans-serif;
    }

    // ######################################### botao-enviar #############################################
    .botao-enviar {
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 2vw;
        font-weight: 600;
        width: 280px;
        margin-left: 13vw;
        margin-top: 7vh;
    }
}
