<ion-header class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content>
  <img class="bg-img" src="../../assets/GoTeam Imagens/Home-bg.png">

  <div class="home-text">
    <div class="home-text-line-1">Bem-vindo(a),</div>
    <div class="home-text-line-2">Behïnd you</div>
    <div class="home-text-line-3">@BehindYou</div>
  </div>

  <img class="profile-img" src="../../assets/GoTeam Imagens/shaco.jpg">

  <ion-card class="card-criar-evento">
    <ion-card-title class="criar-evento-title">Quer criar um evento?</ion-card-title>
    <a href="/criar-evento"><ion-button class="criar-evento-button" shape='round' color='secondary'>Criar evento</ion-button></a>
  </ion-card>

  <div class="eventos-em-destaque">Eventos em destaque:</div>
  <div class="card-evento-destaque">
    <app-card-evento-destaque></app-card-evento-destaque>
  </div>

  <div class="eventos-oficiais">Eventos oficiais:</div>
  <app-card-evento-oficial></app-card-evento-oficial>

  <div class="eventos-comunidade">Eventos da comunidade:</div>
  <div class="card-eventos">
    <app-card-eventos></app-card-eventos>
  </div>

</ion-content>

<app-tab-menu></app-tab-menu>