ion-content {
    .bg-img {
        position: fixed;
    }

    .card-criar-evento, .card-configuracoes {
        text-align: center;

        height: 45px;
        width: 260px;

        margin-left: 15vw;
        margin-top: 5vh;

        border-style: solid;
        border-color: #00CEA9;
    }

    .card-instrucao-evento {
        text-align: center;

        font-family: 'Ubuntu', sans-serif;

        border-style: solid;
        border-color: #00CEA9;
    }

    .card-instrucao-2, .card-instrucao-3 {
        font-weight: 400;
    }

    .card-settings {
        border-style: solid;
        border-color: #00CEA9;
    }

    .capa-evento, .event-name {
        margin-left: 2vw;
    }

    .event-name-input {
        width: 180px;
    }

    form {
        --ion-item-background: transparent;
    }

    .choose-champ {
        width: 230px;

        margin-left: 20vw;
        margin-top: -7.5vh;

        border-radius: 10px;
    }

    .img-icon {
        height: 70px;
        width: 70px;
    }

    .col-1 {
        padding: 0;
    }

    .part-number, .who-can {
        margin-top: 2vh;
        margin-left: 2vw;
        font-size: 1.8em;
    }

    .select {
        color: white;
    }

    .create-button {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 600;
        letter-spacing: 1vw;

        margin-left: 17vw;
    }

    .toast {
        color: white;
    }
}